.quote-image {
  .timeline__block__inner {
    justify-content: center;

    blockquote {
      @include fluid-type(600px, 1400px, 18px, 25px);
    }
  }
}

.quote-image__main {
  @include fluid-type(600px, 1400px, 36px, 55px);
  background-color: white;
  color: color(darkPurple);
  display: block;
  font-family: $font-special;
  margin: rem(25) 0;
  padding: rem(25) rem(50) rem(40);
  width: 100%;
}

.quote-image__attribution,
.quote-image__context {
  @include fluid-type(600px, 1400px, 16px, 18px);
  display: block;
}

.leads {
  align-self: center;
  display: block;
  font-family: $font-heading;
  margin: 0 auto;
  width: percentage(430/720);
}

.quote-image__attribution,
.quote-image__context,
.leads {
  margin-bottom: spacingAgainstBase(0.4);
}

@include breakpoint(max-width 800px) {
  .leads {
    width: 100%;

    p {
      line-height: 1.6;
    }
  }

  .quote-image__main {
    padding: 1rem;
  }
}
