.statement-image--split {
  display: flex;
  justify-content: center;

  .timeline__block__inner {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.statement-image--split__text {
  @include fluid-type(600px, 1200px, 16px, 18px);
  font-weight: 300;
  line-height: 1.6;
  margin-right: 10%;
  z-index: 1;

  .h2 {
    @include fluid-type(600px, 1200px, 28px, 35px);
    margin-bottom: 1rem;
  }
}

.statement-image--split__image-container__image {
  background-repeat: no-repeat;
  height: 100%;
  opacity: 0.8;
  width: 50%;
}

.statement-flipped {
  order: 2;

  &.statement-image--split__text {
    margin: 0;
  }
}

.background-flipped {
  margin-right: 10%;
  order: 1;
}

@include breakpoint(max-width 1000px) {
  .statement-image--split__image-container__image {
    background-position-x: 80%;
    background-size: auto 100%;
    filter: blur(1.1px);
    height: 100%;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
