.statement-image--split {
  display: flex;
  justify-content: center;

  .timeline__block__inner {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;

    @include breakpoint(max-width 1000px) {
      justify-content: center;
    }

    @include breakpoint(min-width 1400px) {
      max-width: 1200px;
    }
  }
}


.statement-image--split__text {
  @include fluid-type(600px, 1200px, 16px, 18px);
  font-weight: 300;
  line-height: 1.6;
  margin-right: 10%;
  width: 50%;

  .heading-level-2 {
    @include fluid-type(600px, 1200px, 28px, 35px);
    margin-bottom: 1rem;
  }

  @include breakpoint(max-width 1000px) {
    margin-right: 0;
    width: 90%;
    z-index: 1;
  }
}

.statement-image--split__image-container__image {
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;

  @include breakpoint(max-width 1000px) {
    background-position-x: 80%;
    background-size: auto 100%;
    filter: blur(1.1px);
    height: 100%;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.statement-flipped {
  order: 2;

  &.statement-image--split__text {
    margin: 0;
  }
}

.background-flipped {
  margin-right: 10%;
  order: 1;
}
