.home {
  .background__image {
    display: none;
  }

  .h2 {
    @include fluid-type(600px, 1000px, 56px, 125px);
    margin-bottom: spacingAgainstBase(2);
  }
}

.home__header {
  align-items: center;
  background-color: color(orange);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    display: block;
  }

  .h1 {
    margin-bottom: rem(48);
  }

  p {
    @include fluid-type(600px, 1400px, 14px, 16px);
    font-family: $font-body;
    line-height: 1.5;
    min-width: 300px;
  }
}

.home__header__inner {
  max-width: 650px;

  p {
    max-width: 572px;
    margin-left: percentage(30/800);
    margin-bottom: rem(32);
  }

  @include breakpoint(min-width 900px) {
    p {
      margin-left: percentage(100/800);
    }
  }
}

.home__navigation {
  background-color: color(turqoise);

  .component-links {
    padding-bottom: 3vh;
    padding-top: 10vh;

    a {
      @include fluid-type(600px, 1400px, 46px, 65px);
      display: block;
      margin: 0 auto spacingAgainstBase(2) auto;
      max-width: 800px;
      text-align: center;
    }
  }
}

.home__who {
  background: linear-gradient(180deg, color(turqoise), color(teal));
  color: white;

  small {
    display: block;
    @include fluid-type(600px, 1400px, 20px, 24px);
    font-family: $font-special;
    flex: 0 0 35%;
    line-height: 1.2;
    min-width: 250px;
    transform: rotate(-2deg);
    margin-bottom: rem(20);
  }

  span {
    display: block;
  }

  p {
    @include fluid-type(600px, 1400px, 14px, 16px);
    font-family: $font-body;
    line-height: 1.5;
    min-width: 300px;

    a {
      color: white;
      font-weight: 600;
      text-decoration: none;
      position: relative;
      &:hover,
      &:focus {
        &:after {
          border-bottom: 5px solid color(orange);
          transform: translate(-50%, 3px);
        }
      }

      &:after {
        border-bottom: 2px solid color(orange);
        position: absolute;
        content: ' ';
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
        transition: all 0.3s ease;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    max-width: 470px;
    justify-content: space-between;
    margin-left: 12.5%;
    align-self: flex-end;
    margin-bottom: spacingAgainstBase(1);

    a {
      border: 4px solid color(yellow);
      color: color(yellow);
      padding: 10px 25px;
      @include fluid-type(600px, 1400px, 16px, 20px);
      font-family: $font-heading;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.home__who__inner__text {
  max-width: 600px;
  margin: 0 auto;

  p {
    max-width: 470px;
    margin-left: percentage(30/800);
    margin-bottom: rem(32);
  }

  @include breakpoint(min-width 900px) {
    p {
      margin-left: percentage(100/800);
    }
  }
}

//
@include breakpoint(max-width 1000px) {
  .home__who {
    margin: 0 auto;

    p {
      @include fluid-type(600px, 1400px, 14px, 16px);
      font-family: $font-body;
      line-height: 1.5;
      margin: 0 auto;
      max-width: 100%;
      min-width: 300px;
    }

    nav {
      align-self: flex-end;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto spacingAgainstBase(1) auto;
      max-width: 100%;

      a {
        @include fluid-type(600px, 1400px, 16px, 20px);
        border: 4px solid color(yellow);
        color: color(yellow);
        font-family: $font-heading;
        padding: 10px 25px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

.home__quote {
  @include fluid-type(600px, 1400px, 24px, 33px);
  background-color: color(purple);
  padding: spacingAgainstBase(6) 0 spacingAgainstBase(4) 0;
}

.home__quote__inner {
  color: white;
  line-height: 1.3;
  max-width: 680px;
  position: relative;
  right: -10%;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(3deg);

  span {
    color: color(yellow);
    display: block;
    font-family: $font-special;
    margin: 2vh auto;
  }

  cite {
    display: block;
    font-family: $font-body;
    font-size: 15px;
    margin: 5vh 0 0 0;
    text-align: right;
    transform: rotate(-3deg);
  }
}

// refactor

.home__campaign-museum {
  background: linear-gradient(180deg, color(turqoise), color(purple));
  color: white;
}

.home__campaign-museum__wrapper__text {
  max-width: 800px;
  margin: 0 auto spacingAgainstBase(3);

  p {
    max-width: 560px;
    line-height: 1.6;
  }
}

.museum__quote blockquote {
  @include fluid-type(600px, 1400px, 24px, 27px);
  background-color: white;
  color: color(orange);
  height: 300px;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: spacingAgainstBase(3) spacingAgainstBase(3) spacingAgainstBase(6) spacingAgainstBase(3);
  position: relative;
  text-transform: uppercase;

  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    border-color: rgba(213, 213, 213, 0);
    border-top-color: white;
    border-width: 30px;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -30px;
  }

  span {
    color: color(purple);
    font-family: $font-special;
  }
}
.home__campaign-museum__quotes__quote__cite {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: spacingAgainstBase(3) auto spacingAgainstBase(8) auto;
}

.home__campaign-museum__quotes__quote__cite__person {
  background-color: black;
  cursor: pointer;
  height: 100px;
  width: 100px;
}

.home__campaign-museum__purpose {
  background-color: white;
  color: color(purple);
  max-width: 670px;
  padding: spacingAgainstBase(3) spacingAgainstBase(2);
  position: relative;

  .h3 {
    @include fluid-type(600px, 1400px, 18px, 20px);
    margin-bottom: spacingAgainstBase(2);
    text-transform: uppercase;
  }

  hr {
    border-color: #c9d9de;
    left: 0;
  }

  p {
    line-height: 1.5;

    &:last-of-type {
      margin: 0 0 spacingAgainstBase(4) 0;
    }
  }

  hr,
  p {
    max-width: 420px;
    margin: 0 0 spacingAgainstBase(2) 0;
  }
}

.home__campaign-museum__ambassadors {
  ul {
    @include clearfix();
  }

  li {
    float: left;
    width: 50%;
    margin-bottom: spacingAgainstBase(1.5);
  }
}

@include breakpoint(min-width 1601px) {
  .home__campaign-museum__purpose {
    margin: 0 0;

    img {
      position: absolute;
      max-width: 400px;
      right: -45%;
      width: 60%;

      &:first-of-type {
        top: 5%;
      }

      &:nth-of-type(2) {
        bottom: 15%;
      }
    }
  }
}

@include breakpoint(max-width 1600px) {
  .home__campaign-museum__purpose {
    max-width: 100%;

    hr {
      left: initial;
    }

    p {
      line-height: 1.5;

      &:last-of-type {
        margin: 0 0 spacingAgainstBase(4) 0;
      }
    }

    hr,
    p {
      max-width: 95%;
      margin: 0 auto spacingAgainstBase(2) auto;
    }

    img {
      display: block;
      margin: 1rem auto;
      max-width: 100%;
    }
  }

  .home__campaign-museum__ambassadors {
    margin-top: spacingAgainstBase(4);
  }
}

@include breakpoint(max-width 600px) {
  .home__campaign-museum__purpose {
    hr,
    p {
      max-width: 100%;
    }
  }
}
