{% if block.colorSecondary == "#000000" %}
  {% set gradient = false %}
{% else %}
  {% set gradient = true %}
{% endif %}

{% switch block.backgroundPosition %}
  {% case 'left' %}
    {% set backgroundPosition = 'background__img--left' %}
  {% case 'right' %}
    {% set backgroundPosition = 'background__img--right' %}
  {% case 'center' %}
    {% set backgroundPosition = 'background__img--center' %}
{% endswitch %}

<section class="timeline__block fact-image--full">
  <div class="timeline__block__inner wrapper wrapper--medium section-padding">
    <div class="fact-image--full__statement container--small">
      <h2 class="h2">{{ block.fact | striptags('<strong><em><br>')|raw }}</h2>
      <p>{{ block.statement }}</p>
    </div>
  </div>
  <div class="background-container">
    <div class="background-container__gradient"
    {% if gradient %}
      style="background: {{block.colorPrimary}}; background: linear-gradient(180deg, {{block.colorPrimary}}, {{block.colorSecondary}});"
    {% else %}
      style="background: {{block.colorPrimary}};"
    {% endif %}
    ></div>
    <picture>
      <source srcset="{{block.image.first().getUrl('cinemaImage')}}" media="(min-width: 1999px)">
      <source srcset="{{block.image.first().getUrl('laptopImage')}}" media="(min-width: 1440px)">
      <source srcset="{{block.image.first().getUrl('tabletImage')}}" media="(min-width: 601px)">
      <source srcset="{{block.image.first().getUrl('mobileImage')}}" media="(max-width: 600px)">
      <img class="background__img {{backgroundPosition}}" srcset="{{block.image.first().getUrl()}}">
    </picture>
    <div class="background-container__noise"></div>
  </div>
</section>

