<section class="timeline__block fact-image--full">
  <div class="timeline__block__inner wrapper section-padding">
    <div class="fact-image--full__statement container--xsmall">
      <h2 class="h2">{{ block.fact | striptags('<strong><em><br>')|raw }}</h2>
      <p>{{ block.statement }}</p>
    </div>
  </div>
  <div class="background-container">
    <div class="background__image background__image--cover" style="background-image: url('{{ block.image.first().getUrl }}')"></div>
    <div class="background-container__noise"></div>
    <div class="background-container__gradient" style="background-color: {{block.colorSwatch.color}};"></div>
  </div>
</section>