{% if block.colorSecondary == "#000000" %}
  {% set gradient = false %}
{% else %}
  {% set gradient = true %}
{% endif %}

{% switch block.backgroundPosition %}
  {% case 'left' %}
    {% set backgroundPosition = 'background__image--left' %}
  {% case 'right' %}
    {% set backgroundPosition = 'background__image--right' %}
  {% case 'center' %}
    {% set backgroundPosition = 'background__image--center' %}
{% endswitch %}

<section class="timeline__block fact-image--full">
  <div class="timeline__block__inner wrapper wrapper--medium section-padding">
    <div class="fact-image--full__statement container--small">
      <h2 class="h2">{{ block.fact | striptags('<strong><em><br>')|raw }}</h2>
      <p>{{ block.statement }}</p>
    </div>
  </div>
  <div class="background-container">
    <div class="background-container__gradient"
    {% if gradient %}
      style="background: {{block.colorPrimary}}; background: linear-gradient(180deg, {{block.colorPrimary}}, {{block.colorSecondary}});"
    {% else %}
      style="background: {{block.colorPrimary}};"
    {% endif %}
    ></div>
    <div class="background__image background__image--contain {{backgroundPosition}}" style="background-image: url('{{ block.image.first().getUrl }}')"></div>
    <div class="background-container__noise"></div>
  </div>
</section>