{# 
	# Footer Include 
	# --------------- 
#}

<footer>
  <section class="footer__section footer__section01">
    <h3>Spread the word.</h3>
    <ul>
      <li><a href=""><img src="{{socialMedia.image1.first().getUrl()}}" alt="{{socialMedia.social1}}">{{socialMedia.social1}}</a></li>
      <li><a href=""><img src="{{socialMedia.image2.first().getUrl()}}" alt="{{socialMedia.social2}}">{{socialMedia.social2}}</a></li>
      <li><a href=""><img src="{{socialMedia.image3.first().getUrl()}}" alt="{{socialMedia.social3}}">{{socialMedia.social3}}</a></li>
      <li><a href=""><img src="{{socialMedia.image4.first().getUrl()}}" alt="{{socialMedia.social4}}">{{socialMedia.social4}}</a></li>
    </ul>

    <div>
      <a href="">Sign up for updates</a>
      <a href="">Get in touch with us</a>
    </div>
  </section>

  <section class="footer__section footer__section01">
    <h3>Thanks to our supporters</h3>
    <ul>
      <li>Todd Hitt</li>
      <li>Taylor Swift</li>
      <li>Brian Williams</li>
      <li>Beyonce</li>
      <li>Mr. Moneybags</li>
    </ul>
  </section>

  <section class="footer__section footer__section01">
    <h3>Thanks to our partners</h3>
    <a href=""><img src="" alt=""></a><a href=""><img src="" alt=""></a>
  </section>

  <small>&copy; 2016 Kiddar Captial <a href="http://www.google.com">Privacy Policy</a></small>
</footer>