<footer class="global-footer">
  <div class="global-footer__inner wrapper">
    <section class="global-footer__section footer__section--1">
      <h2 class="h2">Spread the word.</h2>
      <nav class="footer__section--1__nav--1 margin-center container--footer">
        {% include "_includes/social-links.html" %}
      </nav>

      <nav class="footer__section--1__nav--2 margin-center container--footer">
        <a href="#todo">Sign up for updates</a>
        <a href="#todo">Get in touch with us</a>
      </nav>
    </section>

    <section class="global-footer__section wrapper wrapper--xsmall footer__section--2">
      <h2 class="h2">Thanks to our supporters</h2>
      <ul>
        <li>Todd Hitt</li>
        <li>Taylor Swift</li>
        <li>Brian Williams</li>
        <li>Beyonce</li>
        <li>Mr. Moneybags</li>
      </ul>
    </section>

    <section class="global-footer__section wrapper wrapper--xsmall footer__section--3">
      <h2 class="h2">Thanks to our partners</h2>
      <a href="#todo"><img src="" alt=""></a>
      <a href="#todo"><img src="" alt=""></a>
    </section>
    <small>© {{now.year}} Kiddar Captial <a href="http://www.google.com">Privacy Policy</a></small>
  </div>
</footer>
