<footer>
  <div class="footer__inner">
    <section class="footer__section footer__section01">
      <h2 class="heading-level-2">Spread the word.</h2>
      <nav>
        {% include "_includes/social-links.html" %}
      </nav>

      <nav>
        <a href="">Sign up for updates</a>
        <a href="">Get in touch with us</a>
      </nav>
    </section>

    <section class="footer__section footer__section02">
      <h2 class="heading-level-2">Thanks to our supporters</h2>
      <ul>
        <li>Todd Hitt</li>
        <li>Taylor Swift</li>
        <li>Brian Williams</li>
        <li>Beyonce</li>
        <li>Mr. Moneybags</li>
      </ul>
    </section>

    <section class="footer__section footer__section03">
      <h2 class="heading-level-2">Thanks to our partners</h2>
      <a href=""><img src="" alt=""></a>
      <a href=""><img src="" alt=""></a>
    </section>
    <small>© 2016 Kiddar Captial <a href="http://www.google.com">Privacy Policy</a></small>
  </div>
</footer>
