<nav class="global-navigation wrapper" aria-label="Main Navigation" data-module="MobileNav">
  <div class="global-navigation__header">
    <a href="/" class="global-navigation__inner__site-logo"><img src="../assets/images/logo-silentsentinels-1x.png" alt="Silent Sentinels - Home"/></a>
    <button class="global-navigation__icon-menu" id="mobile-only" aria-controls="global-navigation" aria-expanded="false">
      {{ craft.inlin.er('/assets/images/icon-menu.svg') | raw }}
      <span class="screenreader-only">menu</span>
    </button>
  </div>
  <div class="global-navigation__inner" id="global-navigation">
    <div class="global-navigation__inner__pages" id="desktop-only">
      {% for entry in craft.entries.section('Timeline') %}
        <a href="{{entry.url()}}">{{entry.titleText}}</a>
      {% endfor %}
      <a href="{{craft.entries.section('Bios').first().url()}}">{{craft.entries.section('Bios').first().title}}</a>
    </div>

    <div class="global-navigation__inner__pages component-links wrapper" id="mobile-only">
      {% for entry in craft.entries.section('Timeline') %}
        <a href="{{entry.url()}}">{{entry.titleText}}</a>
      {% endfor %}
      <a href="{{craft.entries.section('Bios').first().url()}}">{{craft.entries.section('Bios').first().title}}</a>
    </div>

    <div class="global-navigation__inner__social">
     {% include "_includes/social-links.html" %}
    </div>
  </div>
</nav>

