<nav class="global-navigation wrapper" aria-label="Main Navigation" data-module="MobileNav">
  <div class="global-navigation__header">
    <a href="/" class="global-navigation__inner__site-logo"><img src="../assets/images/logo-silentsentinels-1x.png" alt="Silent Sentinels - Home"/></a>
    <button class="global-navigation__icon-menu" id="mobile-only" aria-controls="global-navigation" aria-expanded="false">
      <svg width="36" height="24" viewBox="0 0 36 24" xmlns="http://www.w3.org/2000/svg"><g id="icon-menu" fill="none" fill-rule="evenodd"><g id="icon-menu" fill="#372646"><path id="bottom" d="M0 24h36v-4H0z"/><path id="middle" d="M0 14h36v-4H0z"/><path id="top" d="M0 0v4h36V0z"/></g></g></svg>
      <span class="screenreader-only">menu</span>
    </button>
  </div>
  <div class="global-navigation__inner" id="global-navigation">
    <div class="global-navigation__inner__pages" id="desktop-only">
      {% for entry in craft.entries.section('Timeline') %}
        <a href="{{entry.url()}}">{{entry.titleText}}</a>
      {% endfor %}
      <a href="{{entry.url()}}">{{craft.entries.section('Bios').first().title}}</a>
    </div>

    <div class="global-navigation__inner__pages home__links wrapper" id="mobile-only">
      {% for entry in craft.entries.section('Timeline') %}
        <a href="{{entry.url()}}">{{entry.titleText}}</a>
      {% endfor %}
      <a href="{{entry.url()}}">{{craft.entries.section('Bios').first().title}}</a>
    </div>

    <div class="global-navigation__inner__social">
      <a href=""><img src="{{socialMedia.image1.first().getUrl()}}" alt="{{socialMedia.social1}}"><span id="mobile-only">{{socialMedia.social1}}</span></a>
      <a href=""><img src="{{socialMedia.image2.first().getUrl()}}" alt="{{socialMedia.social2}}"><span id="mobile-only">{{socialMedia.social2}}</span></a>
      <a href=""><img src="{{socialMedia.image3.first().getUrl()}}" alt="{{socialMedia.social3}}"><span id="mobile-only">{{socialMedia.social3}}</span></a>
      <a href=""><img src="{{socialMedia.image4.first().getUrl()}}" alt="{{socialMedia.social4}}"><span id="mobile-only">{{socialMedia.social4}}</span></a>
    </div>
  </div>
</nav>

