<section class="timeline__block quote-image">
  <div class="timeline__block__inner wrapper section-padding">
    <blockquote>
      <span class="blockquote-leads">
        {{ block.leadIn }}
      </span>
      <span class="quote-image__main">
        {{ block.quote }}
      </span>
      <span class="blockquote-leads">
        {{ block.leadOut }}
      </span>
      <cite>
        <span class="quote-image__attribution">
          {{ block.attribution }}
        </span>
        <span class="quote-image__context">
          {{ block.context }}
        </span>
      </cite>
    </blockquote>
  </div>

  <div class="background-container">
   <div class="background-container__gradient"
    {% if gradient %}
      style="background: {{block.colorPrimary}}; background: linear-gradient(180deg, {{block.colorPrimary}}, {{block.colorSecondary}});"
    {% else %}
      style="background: {{block.colorPrimary}};"
    {% endif %}
    ></div>
    <div class="background__image background__image--contain" style="background-image: url('{{ block.image.first().getUrl }}')"></div>
    <div class="background-container__noise"></div>
  </div>
</section>