<a href="">{{ craft.inlin.er('/assets/images/logo-medium.svg', true) | raw }}<span id="mobile-only">{{socialMedia.social1}}</span></a>
<a href="">{{ craft.inlin.er('/assets/images/logo-twitter.svg', true) | raw }}<span id="mobile-only">{{socialMedia.social2}}</span></a>
<a href="">{{ craft.inlin.er('/assets/images/logo-fb-simple.svg', true) | raw }}<span id="mobile-only">{{socialMedia.social3}}</span></a>
<a href="">{{ craft.inlin.er('/assets/images/logo-instagram.svg', true) | raw }}<span id="mobile-only">{{socialMedia.social4}}</span></a>