<a href="#todo">
  {{ craft.inlin.er('./assets/images/icons/logo-medium.svg', true) | raw }}
  <span class="mobile-only">{{socialMedia.social1}}</span>
</a>
<a href="#todo">
  {{ craft.inlin.er('./assets/images/icons/logo-twitter.svg', true) | raw }}
  <span class="mobile-only">{{socialMedia.social2}}</span>
</a>
<a href="#todo">
  {{ craft.inlin.er('./assets/images/icons/logo-fb-simple.svg', true) | raw }}
  <span class="mobile-only">{{socialMedia.social3}}</span>
</a>
<a href="#todo">
  {{ craft.inlin.er('./assets/images/icons/logo-instagram.svg', true) | raw }}
  <span class="mobile-only">{{socialMedia.social4}}</span>
</a>