{% set statementClass = block.flipTextPlacement == 1 ? "statement-flipped" : "" %}


{% if block.colorSecondary == "#000000" %}
  {% set gradient = false %}
{% else %}
  {% set gradient = true %}
{% endif %}

<section class="timeline__block statement-image--full">
  <div class="timeline__block__inner wrapper wrapper--medium {{statementClass}}">
    <div class="statement-image--full__text container--mini">
      <h2 class="h2">{{ block.statement }}</h2>
      <p>{{ block.text }}</p>
    </div>
  </div>

  <div class="background-container">
    <div class="background__image" style="background-image: url('{{ block.image.first().getUrl }}')"></div>
    <div class="background-container__noise"></div>
    <div class="background-container__gradient" 
    {% if gradient %}
      style= "background: {{block.colorPrimary}}; background: linear-gradient(180deg, {{block.colorPrimary}}, {{block.colorSecondary}});"
    {% else %} 
      style= "background: {{block.colorPrimary}};"
    {% endif %}
    >
    </div>
  </div>
</section>