{% set statementClass = block.flip == 1 ? "statement-flipped" : "" %}
{% set backgroundClass = block.flip == 1 ? "background-flipped" : "" %}

{% if block.colorSecondary == "#000000" %}
  {% set gradient = false %}
{% else %}
  {% set gradient = true %}
{% endif %}

<section class="timeline__block statement-image--split section-padding--small">
  <div class="timeline__block__inner wrapper">
    <div class="statement-image--split__text container--small {{statementClass}}">
      <h2 class="h2">{{ block.blockTitle }}</h2>
      <p>{{ block.statement }}</p>
    </div>
    <div class="statement-image--split__image-container__image background__image--contain  background__image--contain {{backgroundClass}}" style="background-image: url('{{ block.image.first().getUrl }}')"></div>
  </div>
  <div class="background-container">
  <div class="background-container__gradient" 
    {% if gradient %}
      style= "background: {{block.colorPrimary}}; background: linear-gradient(180deg,{{block.colorPrimary}}, {{block.colorSecondary}});"
    {% else %} 
      style= "background: {{block.colorPrimary}};"
    {% endif %}
    ></div>
    <div class="background-container__noise"></div>
  </div>
</section>