{% if block.flip == 1 %}
  {% set className1 = "item1--flip" %}
  {% set className2 = "item2--flip" %}

  {% else %}
    {% set className1 = "" %}
    {% set className2 = "" %}
{% endif %}

<section class="timeline__block statement-image--split" style="background-color: {{block.colorSwatch.color}};">
  <div class="timeline__block__inner">
    <div class="statement-image--split__text {{className1}}">
      <h2>{{ block.blockTitle }}</h2>
      <p>{{ block.statement }}</p>
    </div>
    <div class="statement-image--split__image-container__image {{className2}}" style="background-image: url('{{ block.image.first().getUrl }}')"></div>
  </div>
</section>