{% set statementClass = block.flip == 1 ? "statement-flipped" : "" %}
{% set backgroundClass = block.flip == 1 ? "background-flipped" : "" %}

<section class="timeline__block statement-image--split" style="background-color: {{block.colorSwatch.color}};">
  <div class="timeline__block__inner">
    <div class="statement-image--split__text {{statementClass}}">
      <h2 class="heading-level-2">{{ block.blockTitle }}</h2>
      <p>{{ block.statement }}</p>
    </div>
    <div class="statement-image--split__image-container__image {{backgroundClass}}" style="background-image: url('{{ block.image.first().getUrl }}')"></div>
  </div>
</section>