.global-footer {
  clear: both;
  display: flex;
  justify-content: center;
  padding-top: rem(70);
  padding-bottom: rem(50);

  .h2 {
    color: color(darkPurple);
    font-size: rem(20);
    text-transform: uppercase;
    margin-bottom: 1.3rem;
  }

  section {
    flex: 1 1 33.333%;
    justify-content: space-around;
    text-align: center;
  }

  small {
    flex: 1 1 100%;
    margin-top: rem(75);
    text-align: center;
  }
}

.global-footer__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    color: color(orange);
    font-family: $font-body;
    font-weight: 600;
    font-size: rem(15);
  }

  @include breakpoint(max-width 1000px) {
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 320px;

    section {
      margin-bottom: 3rem;
    }
  }
}

.footer__section--1 {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    span {
      display: none;
    }

    svg {
      fill: color(orange);
    }
  }
}

.footer__section--1__nav--1 {
  margin-bottom: spacingAgainstBase(1);
  padding-bottom: rem(15);
  padding-top: rem(20);
}

.footer__section--1__nav--2 {
  a {
    position: relative;
    text-decoration: none;
    margin-bottom: 3rem;

    &:after {
      background: color(orange);
      border-radius: 50px;
      bottom: -10px;
      content: '';
      height: 6px;
      left: 0;
      position: absolute;
      width: 98%;
    }
  }
}

.footer__section--2 {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    flex: 0 0 50%;
    margin-bottom: spacingAgainstBase(2);
  }
}

@include breakpoint(max-width 1200px) {
  .footer__section--1 {
    nav {
      justify-content: space-between;
    }
  }
}