.global-navigation__inner {
  position: relative;
}

.global-navigation {
  @include breakpoint(max-width 900px) {
    .global-navigation__inner {
      background-color: color(darkPurple);
      bottom: 0;
      height: 100%;
      left: 0;
      padding-top: rem(20);
      position: fixed;
      right: 0;
      top: 0;
      transform: translateX(100%);
      width: 100%;
      z-index: 11;
    }

    .global-navigation__inner__container {
      @include wrapper();
    }

    .global-navigation__inner__wrapper,
    .global-navigation__inner,
    .global-navigation__inner__pages {
      flex-direction: column;
    }

    .global-navigation__inner__site-logo {
      display: block;
      margin-bottom: 15vh;
    }

    .global-navigation__inner__pages {
      font-size: 3rem;
      text-align: center;

      a {
        border: 0.5rem solid white;
        margin-bottom: 1rem;

        &:hover,
        &:focus {
          background-color: white;
          border: 0.5rem solid white;
          color: color(darkPurple);
          text-decoration: none;
        }
      }
    }

    .menu--active {
      transform: translateX(0);
    }

    .menu--transition {
      transition: transform 0.3s ease;
    }
  }

  @include breakpoint(min-width 900px) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    .global-navigation__inner {
      @include wrapper();
      padding-top: rem(20);
      max-width: percentage(1200/2000);
    }

    .global-navigation__inner__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  .global-navigation__inner__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      color: color(orange);
      @include breakpoint(max-width 500px) {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img {
          margin-right: 0;
          margin-bottom: 0.5rem;
          min-width: 25px;
        }
      }
    }

    @include breakpoint(max-width 900px) {
      background-color: white;
      bottom: 0;
      left: 0;
      justify-content: space-around;
      padding: 1rem;
      position: fixed;
      width: 100%;
      z-index: 10;
    }

    @include breakpoint(min-width 900px) {
      a {
        color: color(orange);
      }

      img {
        margin-right: 0.7rem;
      }
    }

    @include breakpoint(min-width 2400px) {
      a {
        color: white;
      }
    }

    @include breakpoint(900px 2400px) {
      background-color: white;
      border-top-left-radius: 4px;
      bottom: 0;
      right: 0;
      padding: 1rem;
      position: fixed;
      z-index: 11;
    }
  }

  .global-navigation__icon-menu {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    outline: 0;
    position: absolute;
    right: 2%;
    top: rem(20);
    z-index: 12;

    &:focus,
    &:hover,
    &:active {
      border: 1px dotted white;
    }
  }
}

.global-navigation__inner__wrapper {
  color: color(orange);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  img {
    height: auto;
    width: 15px;
  }

  a {
    border: 1px dotted transparent;
    color: white;
    font-family: $font-heading;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      border: 1px dotted white;
      max-height: fit-content;
    }
  }
}

.global-navigation__inner__pages,
.global-navigation__inner__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include breakpoint(min-width 500px) {
    a,
    a img {
      margin-right: 1rem;
    }
  }
}
