.global-navigation {
  z-index: 10;
}

.global-navigation__inner__social {
  display: flex;
}

.global-navigation__inner__site-logo {
  border: 1px solid transparent;
  display: block;
  flex: 0 0 100px;


  &:hover, &:focus {
    border: 1px solid white;
  }
}

.global-navigation__inner {
  display: flex;

  .button {
    @include fluid-type(600px, 1201px, 28px, 16px);
  }
}

@include breakpoint($tablet-up) {
  .global-navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    padding: 1rem 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .global-navigation__inner {
    align-items: flex-end;
    flex: 0 0 75%;
    flex-wrap: nowrap;
    justify-content: space-around;

    &.mobile-only {
      display: none;
    }
  }

  .global-navigation__inner__pages {
    display: flex;
    flex: 0 0 85%;
    justify-content: space-around;
    top: 0;
  }

  .css-button {
    color: white;

    &:hover,
    &:focus {
      background-color: transparent;
      border: 0;
      text-decoration: underline;
    }
  }

  .global-navigation__inner__social {
    align-content: center;
    justify-content: space-between;
    flex: 0 0 15%;

    svg {
      border: 1px solid transparent;
      fill: white;
      transition: all 0.2s ease;
    }

    a {
      &:hover,
      &:focus {
        text-decoration: underline;

        svg {
          border: 1px solid white;
        }
      }
    }

    img,
    svg {
      height: auto;
      max-width: 20px;
    }
  }
}

@include breakpoint($tablet-down) {
  .css-button {
    border: 0.5rem solid white;
    margin: 0 auto 1.5rem auto;
    max-width: 600px;
    padding: 3vh 0;
  }

  html[data-js='hasJs'] {
    .global-navigation {
      &.wrapper {
        padding: 0;
      }
    }

    .global-navigation__inner {
      background-color: color(darkPurple);
      flex-direction: column;
      justify-content: center;
      left: 0;
      min-height: calc(100vh - 50px);
      position: absolute;
      top: -100vh;
      width: 100vw;
      z-index: 3;
    }

    .global-navigation__inner__pages {
      a {
        color: white;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }

    .global-navigation__inner__social {
      position: absolute;
      bottom: 0px;

      svg,
      img {
        display: block;
        margin: 0 auto;
        height: 30px;
        width: 30px;
      }

      path {
        fill: color(orange);
      }
    }
  }

  .global-navigation__inner {
    a {
      color: color(darkPurple);
    }
  }

  .global-navigation__inner__site-logo {
    padding: 0.8rem;
  }

  .global-navigation__inner__pages {
    a {
      display: block;
      text-align: center;
    }
  }

  .menu--active {
    transform: translate(0, calc(100vh + 50px));
  }

  .menu--transition {
    transition: transform 0.3s ease;
  }

  .global-navigation__inner__social {
    background-color: white;
    fill: color(orange);
    justify-content: space-around;
    padding: 0.5rem;
    width: 100%;
    z-index: 10;

    a {
      color: color(orange);
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      img,
      svg {
        display: block;
        margin: 0 auto;
        max-width: 30px;
        padding-bottom: 0.5rem;
      }

      span {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .global-navigation__header {
    background-color: color(darkPurple);
    display: flex;
    height: 50px;
    justify-content: space-between;
    position: relative;
    left: 0;
    width: 100%;
    z-index: 12;

    button {
      align-self: center;
      cursor: pointer;
      flex: 0 0 10%;
      z-index: 12;
    }
  }

  .global-navigation__icon-menu {
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 20px;

    path {
      fill: white;
    }
  }
}

@include breakpoint(max-width 500px) {
  .global-navigation__inner__social {
    img {
      margin-right: 0;
      margin-bottom: 0.5rem;
      padding: 0.5%;
      min-width: 25px;
      max-width: 30px;
    }
  }
}
