.home__scroll-navigation {
  background: color(darkPurple);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 8;
}

.home__scroll-navigation__inner {
  display: flex;
  justify-content: flex-end;
}

.home__scroll-navigation__inner__links {
  color: color(robinBlue);
  font-family: $font-heading;
  font-size: 15px;
  margin: 0 16px;
  padding: 10px 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: white;
    text-decoration: underline;
  }
}

@include breakpoint(max-width 900px) {
  .home__scroll-navigation__inner__links {
    flex: 1 1 33.33%;
    justify-content: space-around;
    margin: 0;
    text-align: center;
  }
}

.home__scroll-navigation__inner__links--active {
  background-color: color(orange);
  color: white;
}
