{% extends "_layout" %}

{% set pageClassName = "sentinel-bio" %}

{% block content %}

{% set bios = craft.entries.section('bios') %}
<div class="sentinel-bio__wrapper wrapper section-padding">
  <header class="sentinel-bio__wrapper__header">
    <div class="sentinel-bio__wrapper__header__inner">
      <h1 class="h1">
        <span class="heading-lead">{{entry.leadIn}}</span>
        {{ entry.pageTitle }}
      </h1>
      <p>{{entry.description}}</p>
      <img src="{{ entry.image.first().url }}" alt="">
    </div>
  </header>

  <ol class="sentinel-bio__wrapper__index">
    {% for bio in bios %}
      <li class="sentinel-bio__wrapper__index__container">
        <a class="sentinel-bio__wrapper__index__container__sentinel" style="background-image: url('{{ bio.image.first().getUrl }}')" href="{{ bio.url() }}">
          <span>{{bio.sentinel}}</span>
        </a>
      </li>
    {% endfor %}
  </ol>
</div>

<div class="background-container">
  <div class="background-container__gradient" style="background: linear-gradient(180deg, {{entry.colorPrimary}}, {{entry.colorSecondary}});"></div>
  <div class="background-container__noise"></div>
</div>

{% endblock %}