{% extends "_layout" %}
{% block content %}
  <main class="timeline {{ craft.request.getSegment(1) ?: 'home' }}">
      <header>
        <h1>
          <span>{{entry.leadIn}}</span>
          {{ entry.titleText }}
        </h1>
        <p>{{entry.description}}</p>
        <img src="{{ entry.image.first().url }}" alt="">
      </header>

      {% for entry %}
      <ul>
        <li><a href="entry.url" style="background-image: url('{{ entry.image.first().getUrl }}')"><span>{entry.sentinel}</span></a></li>
      </ul>
      {% endfor %}
  </main>

{% endblock %}