{% extends "_layout" %}

{% set pageClassName = "timeline" %}

{% block content %}
  <header class="timeline__header">
    <div class="timeline__header__inner wrapper">
      <div class="timeline__header__inner__text">
        <h1 class="h1">
          <span class="heading-lead">{{entry.leadIn}}</span>
          {{ entry.titleText }}
        </h1>
        <span class="timeline__header__inner__text__date">{{entry.date}}</span>
      </div>
    </div>

    <div class="background-container">
     <div class="background-container__gradient" 
        {% if gradient %}
          style= "background: {{entry.colorPrimary}}; 
          background: linear-gradient(180deg,{{entry.colorPrimary}}, {{entry.colorSecondary}});"
        {% else %} 
          style= "background: {{entry.colorPrimary}};"
        {% endif %}
      ></div>
      <div class="background__image background__image--cover" style="background-image: url({{entry.image.first().url}})"> </div>
      <div class="background-container__noise"></div>
    </div>
  </header>

  {% if entry.timelineMatrix|length %}
    {% for block in entry.timelineMatrix %}

      {% set type = "" ~ block.type %}
      {% include "_includes/" ~ cc2kc(type) %}

    {% endfor %}
  {% endif %}

{% endblock %}