{% extends "_layout" %}
{% block content %}
  <header>
    <h1 class="heading-level-1">
      <span>{{entry.leadIn}}</span>
      {{ entry.titleText }}
    </h1>
    <small>{{entry.date}}</small>

    <div class="timeline__image" style="background-image: url('{{ entry.image.first().url }}')"></div>
  </header>
  {% if entry.timelineMatrix|length %}
    {% for block in entry.timelineMatrix %}

      {% set type = "" ~ block.type %}
      {% include "_includes/" ~ cc2kc(type) %}

    {% endfor %}
  {% endif %}

{% endblock %}