{% extends "_layout" %}
{% block content %}
  <header style="background-color: {{entry.colorSwatch.color}};">
    <h1 class="heading-level-1">
      <span>{{entry.leadIn}}</span>
      {{ entry.titleText }}
    </h1>
    <small>{{entry.date}}</small>
    <img src="{{ entry.image.first().url }}" alt="">
  </header>
  {% if entry.timelineMatrix|length %}
    {% for block in entry.timelineMatrix %}

      {% set type = "" ~ block.type %}
      {% include "_includes/" ~ cc2kc(type) %}

    {% endfor %}
  {% endif %}

{% endblock %}