{% extends "_layout" %}
 {% block content %}
  {% for entry in craft.entries.section('timeline').find() %}
    <header>
      <h1>
        <span>{{entry.leadIn}}</span>
        {{ entry.titleText }}
      </h1>
      <small>{{entry.date}}</small>
    </header>

    {% for block in entry.timelineMatricies %}
      <article>
        <blockquote>{{ block.leadIn }}
        <span class="quote__block">{{ block.quote }}</span>
        {{ block.leadOut }}
      </blockquote>
      <cite>
        <span class="quote__attribution">{{ block.attribution }}</span>
        <span class="quote__context">{{ block.context }}</span>
      </cite>
        {% for asset in block.image %}
          <img src="{{ asset.getUrl }}" alt="">
        {% endfor %}
      </article>
    {% endfor %}

  {% endfor %}
{% endblock %}
