*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
ul,
li,
span,
figcaption {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.4;
}

img,
svg {
  max-width: 100%;
}

html {
  overflow-x: hidden;
}

@include breakpoint(min-width 1201px) {
  .mobile-only {
    display: none;
  }
}

@include breakpoint(max-width 1200px) {
  .desktop-only {
    display: none;
  }
}

.heading-lead {
  display: block;
  @include fluid-type(600px, 1400px, 20px, 24px);
  font-family: $font-special;
  flex: 0 0 35%;
  line-height: 1.2;
  min-width: 250px;
  transform: rotate(-2deg);
  margin-bottom: rem(20);
}

.component-links {
  @include fluid-type(600px, 1400px, 28px, 65px);
  text-align: center;

  @include breakpoint(max-width 1200px) {
    max-width: 600px;
  }
}

.background-container__noise {
  background-image: url(../../assets/images/noise-pattern.png);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.background-container__gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.button {
  border: 0.5rem solid white;
  color: white;
  font-family: $font-heading;
  margin: 0 auto 2vh auto;
  padding: 3vh 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:hover,
  &:focus {
    background-color: white;
    border: 0.5rem solid white;
    color: color(darkPurple);
    text-decoration: none;
  }
}
