.screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.menu--overflow {
  overflow: hidden;
  max-height: calc(100vh - 50px);
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 100%;
  z-index: 5;

  &.wrapper--medium {
    max-width: 960px;
  }

  &.wrapper--medium-alternate {
    max-width: 780px;
  }

  &.wrapper--small {
    max-width: 740px;
  }

  &.wrapper--xsmall {
    max-width: 560px;
  }

  &.wrapper--footer__section {
    max-width: 450px;
  }
}

.section-padding {
  padding-bottom: 12vh;
  padding-top: 18vh;
}

.is-hiding {
  display: none;
}

.container--medium {
  max-width: 690px;
}

.container--xsmall {
  max-width: 560px;
}

.container--mini {
  max-width: 470px;
}

.container--footer {
  max-width: 400px;
}


.background__image {
  background-repeat: no-repeat;
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  &.quote-image__image-container__image {
    background-position-x: 70%;
    bottom: 0;
  }

  &.fact-image--full__image-container__image {
    background-position-x: center;
    top: 0;
  }

  &.background__image--cover {
    background-position: cover;
  }

  &.background__image--contain {
    background-position: contain;
  }
}

.background__image--cover {
  background-size: cover;
}

.background__image--contain {
  background-size: contain;
}

.background__image--centerY {
  background-position-y: center;
}

.margin-center {
  margin: 0 auto;
}