{#
 # Layout template
 # ---------------
 #}

{% if craft.request.path == "" %}
  {% set className = "home" %}
{% endif %}

{% if craft.request.path == "the-arrests" or craft.request.path == "woodrow-wilson-the-19th-amendment" or craft.request.path == "the-beginning-of-the-movement" or craft.request.path ==  "the-night-of-terror" %}
  {% set className = "timeline" %}
  {% elseif craft.request.path == "" %}
    {% set className = "home" %}
  {% else %}
    {% set className = "page" %}
{% endif %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  {% includeCssFile "/assets/stylesheets/app.css" %}

  <script>
    var html = document.querySelector('html');
    html.setAttribute('data-js', 'hasJs');
  </script>
</head>

<body>
  {% include "_includes/navigation.html" %}

  <div id="site-container">
    <main class="{{className}}">
      {% block content %}
      {% endblock %}
    </main>
  </div>

  {% include "_includes/footer.html" %}

  <script src="/assets/javascripts/app.js"></script>
</body>
</html>
