{#
 # Layout template
 # ---------------
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  {% includeCssFile "/assets/stylesheets/app.css" %}
</head>

<body>
  <nav class="global-navigation">
    <a href="/">Silent Sentinels</a>
    <ul class="global-navigation__pages">
      {% for entry in craft.entries.section('Timeline') %}
        <li><a href="{{entry.url()}}">{{entry.titleText}}</a></li>
      {% endfor %}

      {% for entry in craft.entries.section('Bios') %}
        <li><a href="{{entry.url()}}">{{entry.title}}</a></li>
      {% endfor %}
    </ul>

    <div class="global-navigation__social">
      <a href=""><img src="{{socialMedia.image1.first().getUrl()}}" alt="{{socialMedia.social1}}">{{socialMedia.social1}}</a>
      <a href=""><img src="{{socialMedia.image2.first().getUrl()}}" alt="{{socialMedia.social2}}">{{socialMedia.social2}}</a>
      <a href=""><img src="{{socialMedia.image3.first().getUrl()}}" alt="{{socialMedia.social3}}">{{socialMedia.social3}}</a>
      <a href=""><img src="{{socialMedia.image4.first().getUrl()}}" alt="{{socialMedia.social4}}">{{socialMedia.social4}}</a>
    </div>
  </nav>

  <div id="site-container">
    {% block content %}
    {% endblock %}
  </div>

  {% include "_includes/footer.html" %}
</body>
</html>
