{# 
  # Homepage template 
  # --------------- 
#}

{% extends "_layout" %} 
{% block content %}

  <header>
    <small><span>Before Hillary,</span> <span>Before Women's Lib,</span> <span>There Were The...</span></small>
    <h1 class="heading-level-1">Silent Sentinels</h1>
    <div class="background__image" style="background-image: url(./assets/images/home3.png);"> </div>
    <p>The Silent Sentinels were 72 women who picketed, protested, and even went to prison, whatever it took to get women the
      right to vote. Taunts, beatings, and torure did not deter them.</p>
    <p>Help us build a museum to honor these brave women. We can make sure the sentinels are silent no longer.</p>
  </header>

  <nav class="home__links">
    {% set entry = craft.entries.section('timeline') %} {% if not craft.request.isLivePreview %} {% for item in entry %}
    <a href="{{item.getUrl()}}">{{item}}</a> {% endfor %} {% endif %}
  </nav>

  <section class="home__who">
    <div class="home__who__inner">
      <h2 class="heading-level-2"><span>Who were the</span> Silent Sentinels?</h2>
      <nav>
        <a href="/watchvideo">Watch Video</a>
        <a href="/learnmore">Learn About the Sentinels</a>
      </nav>
      <p>The Silent Sentinels were a group of women in favor of women's suffrage organized by 
        <a href="http://lmgtfy.com/?q=alice+paul">Alice Paul</a> 
        and the National Woman's Party. They protested in front of the White House during Woodrow Wilson's presidency starting
        on January 10, 1917. The women protested for six days a week until June 4, 1919 when the Nineteenth Amendment to
        the United States Constitution was passed both by the House of Representatives and the Senate.
      </p>
      <div class="home__who__inner__image-container">
        <div class="home__who__inner__image-container__image" style="background-image: url(./assets/images/home3.png);"> </div>
      </div>
    </div>
  </section>

  <section class="home__quote">
    <div class="home__quote__inner">
      <blockquote>“the Government must not think that they can stop this agitation.
        <span>It will go on.</span> 
        We are here not because we are law-breakers; we are here in our efforts to become law-makers.”
        <cite>Emmeline Pankhurst</cite>
      </blockquote>

      <div class="home__quote__inner__image-container">
        <div class="home__quote__inner__image-container__image" style="background-image: url(./assets/images/home3.png);"> </div>
      </div>
    </div>
  </section>

  <section class="home__campaign-museum">
    <h2 class="heading-level-2">The Campaign and Museum</h2>
    <p>The Women’s Suffrage Museum’s mission is to portray women’s struggle for equal rights and the opportunity for a vote
      in our democracy. The site is considered hallowed ground for the suffragists and for the modern women’s movement. It
      will provide historical context to the movement toward franchise and also provide individual stories of the women who
      helped bring about the ratification of the 19th Amendment to the U.S. Constitution.
    </p>

    <div class="home__campaign-museum__image-container">
      <div class="home__campaign-museum__image-container__image" style="background-image: url(./assets/images/home3.png);"> </div>
    </div>

    <div class="home__campaign-museum__quotes">
      <ul>
        <li>
          <article>
            <blockquote>
              "Decide what your commitment is, make it public, and... report back ot us on your progress so that we can share your story."
            </blockquote>
            <div class="home__campaign-museum__quotes__quote__cite"><img src="#" alt="">Nancy Pelosi</div>
          </article>
        </li>
        <li>
          <article>
            <blockquote class="home__campaign-museum__quotes__quote--hidden">
              "Decide what your commitment is, make it public, and... report back ot us on your progress so that we can share your story."
            </blockquote>
            <div class="home__campaign-museum__quotes__quote__cite"><img src="#" alt="">Jessica Williams</div>
          </article>
        </li>
        <li>
          <article>
            <blockquote class="home__campaign-museum__quotes__quote--hidden">
              "Decide what your commitment is, make it public, and... report back ot us on your progress so that we can share your story."
            </blockquote>
            <div class="home__campaign-museum__quotes__quote__cite"><img src="#" alt="">Malala Yousafzai</div>
          </article>
        </li>
      </ul>
    </div>

    <div class="home__campaign-museum__purpose">
      <h3 class="heading-level-3">What will the museum be?</h3>
      <p>The Women’s Suffrage Museum’s mission is to portray women’s struggle for equal rights and the opportunity for a vote in our democracy.</p>
      <p>The site is considered hallowed ground</p>
      <p>for the suffragists and for the modern women’s movement. </p>
      <p>It will provide historical context to the movement toward franchise and also provide individual stories of the women</p>
      <p>who helped bring about the ratification of the 19th Amendment to the U.S. Constitution.</p>

      <div class="home__campaign-museum__ambassadors">
        <h3 class="heading-level-3">Campaign Ambassadors</h3>
        <ul>
          <li>Oprah Winfrey</li>
          <li>Eleanor Holmes Norton</li>
          <li>Amy Poehler</li>
          <li>Daenerys Targaryen</li>
          <li>Ruth Bader Ginsberg</li>
        </ul>
      </div>
      <img src="./assets/images/homeCampaign1.png" alt="">
      <img src="./assets/images/homeCampaign2.png" alt="">
    </div>
  </section>

{% endblock %}