{% extends "_layout" %}

{% set homepageEntry = craft.entries.section('homepage').first() %}
{% set timelineEntry = craft.entries.section('timeline') %} 

{% set pageClassName = "home" %}
{% set dataModule = "HomeScrollNavigation"  %}
{% set scrollNavigation = true %}

{% block content %}

  {% include "_includes/scroll-navigation.html" %}

  <header class="home__header section-padding section" data-nav-item="section-1">
    <div class="home__header__inner wrapper">
      <span class="heading-lead"><span>Before Hillary,</span> <span>Before Women's Lib,</span> <span>There Were The...</span></span>
      <h1 class="h1" id="section-1"><img src="./assets/images/logo-silentsentinels.png" alt="Silent Sentinels"></h1>
      {# <div class="background__image" style="background-image: url(./assets/images/home3.png);"> </div> #}
      {{ homepageEntry.siteDescription }}
    </div>
     <div class="background-container">
      <div class="background-container__gradient" style="background-color: {{ colors.orange }}"></div>
      <div class="background__image background__image--cover" style="background-image: url('./assets/images/home-page/home1.png')"></div>
      <div class="background-container__noise"></div>
    </div>
  </header>

  <nav class="home__navigation">
    <div class="home__navigation__inner wrapper component-links">
      {% if not craft.request.isLivePreview %} 
        {% for item in timelineEntry %}
          <a class="button" href="{{item.getUrl()}}">{{item.titleText}}</a> 
        {% endfor %}
      {% endif %}
    </div>
     <div class="background-container">
      <div class="background-container__gradient" style="background-color: {{ colors.purple }}"></div>
      <div class="background__image background__image--cover" style="background-image: url('./assets/images/home-page/home2.png')"></div>
      <div class="background-container__noise"></div>
    </div>
  </nav>

  <section class="home__who section-padding section" data-nav-item="section-2">
    <div class="home__who__inner wrapper wrapper--xsmall">
      <div class="home__who__inner__text">
        <h2 class="h2" id="section-2"><span class="heading-lead">Who were the</span>Silent Sentinels?</h2>
        <nav>
          <a href="/watchvideo">Watch Video</a>
          <a href="/learnmore">Learn About the Sentinels</a>
        </nav>
        {{ homepageEntry.whoDescription }}
      </div>
      <div class="home__who__inner__image-container">
        <div class="home__who__inner__image-container__image" style="background-image: url(./assets/images/home3.png);"> </div>
      </div>
    </div>
    <div class="background-container">
      <div class="background-container__gradient" style="background: linear-gradient(180deg, {{colors.turqouise}}, {{colors.deepTeal}})"></div>
      <div class="background__image background__image--cover" style="background-image: url('./assets/images/home-page/home3.png')"></div>
      <div class="background-container__noise"></div>
    </div>
  </section>

  <section class="home__quote">
    <div class="home__quote__inner wrapper">
      <blockquote>the Government must not think that they can stop this agitation.
        <span>It will go on.</span> 
        We are here not because we are law-breakers; we are here in our efforts to become law-makers.
      </blockquote>
      <cite>Emmeline Pankhurst</cite>

      <div class="home__quote__inner__image-container">
        <div class="home__quote__inner__image-container__image" style="background-image: url(./assets/images/home3.png);"> </div>
      </div>
    </div>

    <div class="background-container">
      <div class="background-container__gradient" style="background-color: {{ colors.purple }}"></div>
      <div class="background__image background__image--cover" style="background-image: url('./assets/images/home-page/home4.png')"></div>
      <div class="background-container__noise"></div>
    </div>
  </section>

  <section class="home__campaign-museum section-padding section" data-nav-item="section-3">
    <div class="home__campaign-museum__wrapper wrapper wrapper--medium">
      <div class="home__campaign-museum__wrapper__text">
        <h2 class="h2" id="section-3">The Campaign & Museum</h2>
        {{ homepageEntry.campaignDescription }}
      </div>
      <div class="home__campaign-museum__image-container">
        <div class="home__campaign-museum__image-container__image" style="background-image: url(./assets/images/home3.png);"> </div>
      </div>

      <div class="home__campaign-museum__quotes" data-module="HomeQuoteSwap">
        <ul>
          <li class="museum__quote" id="quote-1">
            <article>
              <blockquote>
                Decide what your commitment is, make it public, and... report back ot us on your progress so that we can <span>share your story.</span>
              </blockquote>
            </article>
          </li>
          <li class="museum__quote is-hiding" id="quote-2">
            <article>
              <blockquote class="home__campaign-museum__quotes__quote--hidden">
                I don't really like conflict at all, and I really find conflict pretty devastating. I try to avoid it at all costs.
              </blockquote>
            </article>
          </li>
          <li class="museum__quote is-hiding" id="quote-3">
            <article>
              <blockquote class="home__campaign-museum__quotes__quote--hidden">
                Let us make our future now, and let us make our dreams tomorrow's reality.
              </blockquote>
            </article>
          </li>
        </ul>
        <ul class="home__campaign-museum__quotes__quote__cite">
          <li aria-controls="quote-1" class="home__campaign-museum__quotes__quote__cite__person cite__person--active">
            <div class="home__campaign-museum__quotes__quote__cite__person__background-image">
              <img src="./assets/images/quote-pelosi.png" alt="">
            </div>
            <span>Nancy Pelosi</span>
          </li>
          <li aria-controls="quote-2" class="home__campaign-museum__quotes__quote__cite__person cite__person--inactive">
            <div class="home__campaign-museum__quotes__quote__cite__person__background-image">
              <img src="./assets/images/quote-williams.png" alt="">
            </div>
            <span>Jessica Williams</span>
          </li>
          <li aria-controls="quote-3" class="home__campaign-museum__quotes__quote__cite__person cite__person--inactive">
            <div class="home__campaign-museum__quotes__quote__cite__person__background-image">
              <img src="./assets/images/quote-yousafzai.png" alt="">
            </div>
            <span>Malala Yousafzai</span>
          </li>
        </ul>
      </div>

      <div class="home__campaign-museum__purpose">
        <h3 class="h3">What will the museum be?</h3>
        <p>The Women’s Suffrage Museum’s mission is to portray women’s struggle for equal rights and the opportunity for a vote in our democracy.</p>
        <img src="./assets/images/homeCampaign1.png" alt="">
        <hr>
        <p>The site is considered hallowed ground</p>
        <hr>
        <p>for the suffragists and for the modern women’s movement. </p>
        <hr>
        <p>It will provide historical context to the movement toward franchise and also provide individual stories of the women</p>
        <hr>
        <p>who helped bring about the ratification of the 19th Amendment to the U.S. Constitution.</p>
        <img src="./assets/images/homeCampaign2.png" alt="">

        <div class="home__campaign-museum__ambassadors">
          <h3 class="h3">Campaign Ambassadors</h3>
          <ul>
            <li>Oprah Winfrey</li>
            <li>Eleanor Holmes Norton</li>
            <li>Amy Poehler</li>
            <li>Daenerys Targaryen</li>
            <li>Ruth Bader Ginsberg</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="background-container">
      <div class="background-container__gradient" style="background: linear-gradient(180deg, {{colors.turqouise}}, {{colors.purple}});"></div>
      <div class="background__image background__image--cover" style="background-image: url('./assets/images/home-page/home5.png')"></div>
      <div class="background-container__noise"></div>
    </div>
  </section>
{% endblock %}